body {
    background-color: 		#6497b1;
}
h1{
    text-transform: uppercase;
    font-size: 3rem;
}
h2{
    font-weight: lighter;
}

.poster{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    border-color: white;
    font-family: "caveat", cursive;
    text-align: center;

}

.image-format{
    border: 5px solid whitesmoke;
    width: 50%;
}